:root {
    --primary-color: #2676ab;
    --dark-color:    #494949;
    --darker-color:  #00000066;
}
/* reset */
*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: #e1e1e1;
}

.array-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 600px;
}

.array-input { display: none; }

.array-tile {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 7rem;
    border-radius: 0.5rem;
    border: 2.5px solid transparent;
    background-color: white;
    box-shadow: 0 5px  10px #00000022;
    transition: 0.25s ease;
    cursor: pointer;
}

.array-group > * {
    margin: 0.5rem;
}

.array-icon ion-icon {
    font-size: 3rem;
}

/* before */
.array-tile::before {
    content: "";
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    border: 3px solid var(--dark-color);
    border-radius: 50%;
    top: 0.25rem;
    left: 0.25rem;
    transition: 0.25s ease;
    background-image: url("check.png");
    background-size: 35px;
    background-position: 50%;
}

.array-tile:hover::before {
    transform: scale(1);
}

.array-tile:hover {
    border-color: var(--dark-color);
}

.array-icon {
    transition: 0.5s ease;
    color: var(--dark-color);
}

.array-label {
    color: var(--dark-color);
    transition: 0.4s ease;
    font-weight: 500;
}

/* selected */
.array-input:checked + .array-tile {
    border-color: var(--primary-color);
}

.array-input:checked + .array-tile::before {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    transform: scale(1);
}

.array-input:checked + .array-tile .array-icon,
.array-input:checked + .array-tile .array-label {
    color: var(--primary-color);
}